@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Heights Brewing Company</h1>
    <p class="lead">The Heights Brewing Company brings to you amazing beer of differing styles, which are all brewed right in your backyard. Literally. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Previous Brews</h2>
        <ul style="list-style: None">
            <li>
                Beerly Beloved
                <ul>
                    <li>Description</li>
                </ul>
            </li>
        </ul>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Talk to Cody</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Investing</h2>
        <p>You can easily invest and help produce the best beer in town.</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>